var myApp = angular.module('myApp', ['ng-admin']);
myApp.config(['NgAdminConfigurationProvider', function (nga) {
    var admin = nga.application('My Admin').baseApiUrl('../'); 
    var allEntitys = {};
    
    (()=>{
      <% var first = true;for(var i in tables){ %>allEntitys['<%= i %>'] = nga.entity('<%= i %>');
      <% } %>
    })()
    
    var addTableFns = []
    <% for(var i in tables){ %>    
    addTableFns.push(()=>{    
        //---- code for table <%= i %> ----

        var idField = <% if(tables[i].primaryKey){ %>nga.field('<%= tables[i].primaryKey %>')
        .label('<%= tables[i].allFields[tables[i].primaryKey].Comment || tables[i].primaryKey %>');<% }else{ %>null;<% } %>

        var otherFields = [<% tables[i].otherFields.forEach((fieldName)=>{ %>            
            nga.field('<%= fieldName %>').label('<%= tables[i].allFields[fieldName].Comment || fieldName %>'),<% }) %>
        ];
        var allFields = idField?[
            idField,
            ...otherFields
        ]:otherFields;

        var table = allEntitys['<%= i %>'];
        <% if(tables[i].primaryKey){ %>//primaryKey!
        table.identifier(idField).label('<%= tables[i].tableDetail.TABLE_COMMENT||i %>');<% }else{ %>//no primaryKey!
        table.identifier(nga.field('__index'))<% } %>

        table.listView()
        .fields(allFields)
        .listActions(idField?['show','edit','delete']:[])
        .filters(allFields.map(x=>x.pinned(true)))
        .sortField('<%= tables[i].primaryKey?tables[i].primaryKey:tables[i].otherFields[0] %>')
        .perPage(10);

        table.creationView().fields(otherFields);
        table.editionView().fields(allFields);
        table.showView().fields(allFields);
        
        admin.addEntity(table);
        allEntitys['<%= i %>'] = table
    
        //---- end for table <%= i %> ----
    })
    <% } %>

    // attach the admin application to the DOM and execute it
    addTableFns.map((x)=>x())    
    nga.configure(admin);
}]);
