/**
 * 自动生成的代码
 */

var bookshelf = require('../bookshelf')

var Model = bookshelf.Model.extend({
  tableName: '<%= tableName %>',
  <% if(primaryKey){ %>
  idAttribute: '<%= primaryKey %>',
  <% } %>
});

module.exports.Model = Model