/**
 * 自动生成的代码
 */

var express = require('express')
var router = express.Router()
var Model = require('../models/<%= tableName %>').Model
var parseQuery = require('../utils').parseQuery
var bodyParser = require('body-parser')

router.use(bodyParser.json())

router.get('/',(req,res,next)=>{
  var parsed = parseQuery(req.query)
  Model.where(parsed.where)
  .fetchPage(parsed.pager)
  .then((result)=>{
    res.set('X-Total-Count',result.pagination.rowCount)
    res.json(result.models)
  },(err)=>{
    res.status(500).send(err.message||err)
  })
})

router.post('/',(req,res,next)=>{
  new Model(req.body).save()
  .then((model)=>{
    res.json(model)
  },(err)=>{
    res.status(500).send(err.message||err)
  })
})


router.get('/:id',(req,res,next)=>{
  <% if(primaryKey){ %>
  Model.where({<%= primaryKey %>:req.params.id})
  .fetch()
  .then((model)=>{
    res.json(model)
  },(err)=>{
    res.status(500).send(err.message||err)
  })
  <% }else{ %>
  throw 'no primary key, you can not get by id!'
  <% } %>
})

router.put('/:id',(req,res,next)=>{
  <% if(primaryKey){ %>
  new Model({
    <%= primaryKey %>: req.params.id
  }).save(req.body)
  .then((model)=>{
    res.json(model)
  },(err)=>{
    res.status(500).send(err.message||err)
  })

  <% }else{ %>
  throw 'no primary key, you can not update!'
  <% } %>
})

router.delete('/:id',(req,res,next)=>{
  <% if(primaryKey){ %>
  new Model({
    <%= primaryKey %>: req.params.id
  }).destroy()
  .then(()=>{
    res.json({
      error: 0
    })
  },(err)=>{
    res.status(500).send(err.message||err)
  })

  <% }else{ %>
  throw 'no primary key, you can not delete!'
  <% } %>
})

module.exports = router